tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.bash_history
.cache/
.cargo
.ghq
.local/
.config/gh/
.config/create-next-app-nodejs/
.config/nextjs-nodejs/
.npm
.npmrc
.ssh/
.termux/
!.termux/colors.properties
.tmux/
.luarocks
.wget-hsts
.config/yarn/
.yarnrc
developments
go
storage/
.config/nvim/.git
.config/nvim/.gitignore
.config/nvim/.neoconf.json
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/nvim/LICENSE
.config/nvim/node_modules
.config/nvim/package-lock.json
.config/nvim/package.json
.config/nvim/stylua.toml
.config/nvim/README.md
.config/nvim/lua/plugins/example.lua
!.config/nvim/lua/plugins/lsp.lua
!.config/nvim/lua/plugins/treesitter.lua
!.config/nvim/init.lua
!.config/nvim/lua
!.config/tmux/tmux.conf
.config/tmux/plugins
!.config/starship.toml
!.config/fish/config.fish
.config/fish/fish_variables
.config/fish/fish_plugins
.config/fish/completions/
.config/fish/conf.d/
.config/fish/functions
!.config/fish/functions/fzf_change_directory.fish
!.config/fish/functions/fish_user_key_bindings.fish
node_modules
package.json
package-lock.json
yarn.lock
